In [14]:
%pip install amazon-textract-caller amazon-textract-textractor langchain-community pandas

Collecting amazon-textract-caller
  Using cached amazon_textract_caller-0.2.4-py2.py3-none-any.whl.metadata (7.2 kB)
Collecting amazon-textract-textractor
  Using cached amazon_textract_textractor-1.8.2-py3-none-any.whl.metadata (9.7 kB)
Requirement already satisfied: langchain-community in /opt/conda/lib/python3.10/site-packages (0.0.38)
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: boto3>=1.26.35 in /opt/conda/lib/python3.10/site-packages (from amazon-textract-caller) (1.34.154)
Requirement already satisfied: botocore in /opt/conda/lib/python3.10/site-packages (from amazon-textract-caller) (1.34.154)
Collecting amazon-textract-response-parser>=0.1.39 (from amazon-textract-caller)
  Using cached amazon_textract_response_parser-1.0.3-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: Pillow in /opt/conda/lib/python3.10/site-packages (from amazon-textract-textractor) (9.5.0)
Collecting XlsxWriter<4,>=3.0 (from amazon-textract-textractor)
  Using cached XlsxWriter-3.2.0-py3-none-any.whl.metadata (2.6 kB)
Collecting editdistance<0.9,>=0.6.2 (from amazon-textract-textractor)
  Using cached editdistance-0.8.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.9 kB)
Requirement already satisfied: tabulate<0.10,>=0.9 in /opt/conda/lib/python3.10/site-packages (from amazon-textract-textractor) (0.9.0)
Requirement already satisfied: PyYAML>=5.3 in /opt/conda/lib/python3.10/site-packages (from langchain-community) (6.0.1)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /opt/conda/lib/python3.10/site-packages (from langchain-community) (1.4.49)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /opt/conda/lib/python3.10/site-packages (from langchain-community) (3.9.5)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in /opt/conda/lib/python3.10/site-packages (from langchain-community) (0.6.6)
Requirement already satisfied: langchain-core<0.2.0,>=0.1.52 in /opt/conda/lib/python3.10/site-packages (from langchain-community) (0.1.52)
Requirement already satisfied: langsmith<0.2.0,>=0.1.0 in /opt/conda/lib/python3.10/site-packages (from langchain-community) (0.1.57)
Requirement already satisfied: numpy<2,>=1 in /opt/conda/lib/python3.10/site-packages (from langchain-community) (1.26.4)
Requirement already satisfied: requests<3,>=2 in /opt/conda/lib/python3.10/site-packages (from langchain-community) (2.31.0)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in /opt/conda/lib/python3.10/site-packages (from langchain-community) (8.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/conda/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /opt/conda/lib/python3.10/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain-community) (4.0.3)
Requirement already satisfied: marshmallow<4,>=3.14 in /opt/conda/lib/python3.10/site-packages (from amazon-textract-response-parser>=0.1.39->amazon-textract-caller) (3.21.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from boto3>=1.26.35->amazon-textract-caller) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in /opt/conda/lib/python3.10/site-packages (from boto3>=1.26.35->amazon-textract-caller) (0.10.1)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /opt/conda/lib/python3.10/site-packages (from botocore->amazon-textract-caller) (1.26.18)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in /opt/conda/lib/python3.10/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain-community) (0.9.0)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in /opt/conda/lib/python3.10/site-packages (from langchain-core<0.2.0,>=0.1.52->langchain-community) (1.33)
Requirement already satisfied: packaging<24.0,>=23.2 in /opt/conda/lib/python3.10/site-packages (from langchain-core<0.2.0,>=0.1.52->langchain-community) (23.2)
Requirement already satisfied: pydantic<3,>=1 in /opt/conda/lib/python3.10/site-packages (from langchain-core<0.2.0,>=0.1.52->langchain-community) (1.10.14)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in /opt/conda/lib/python3.10/site-packages (from langsmith<0.2.0,>=0.1.0->langchain-community) (3.10.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2->langchain-community) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2->langchain-community) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests<3,>=2->langchain-community) (2024.2.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from SQLAlchemy<3,>=1.4->langchain-community) (3.0.3)
Requirement already satisfied: jsonpointer>=1.9 in /opt/conda/lib/python3.10/site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.2.0,>=0.1.52->langchain-community) (2.4)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from pydantic<3,>=1->langchain-core<0.2.0,>=0.1.52->langchain-community) (4.5.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /opt/conda/lib/python3.10/site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain-community) (1.0.0)
Using cached amazon_textract_caller-0.2.4-py2.py3-none-any.whl (13 kB)
Using cached amazon_textract_textractor-1.8.2-py3-none-any.whl (307 kB)
Using cached amazon_textract_response_parser-1.0.3-py2.py3-none-any.whl (30 kB)
Using cached editdistance-0.8.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (401 kB)
Using cached XlsxWriter-3.2.0-py3-none-any.whl (159 kB)
Installing collected packages: XlsxWriter, editdistance, amazon-textract-response-parser, amazon-textract-caller, amazon-textract-textractor
Successfully installed XlsxWriter-3.2.0 amazon-textract-caller-0.2.4 amazon-textract-response-parser-1.0.3 amazon-textract-textractor-1.8.2 editdistance-0.8.1
Note: you may need to restart the kernel to use updated packages.

In [55]:
import os

os.environ['AWS_REGION'] = 'us-east-1'
os.environ['S3_BUCKET_URL'] = 's3://financial-statement-extraction/'

fin_document = "Northmarq_Balance_Sheet.pdf"
fin_csv_file = "Northmarq_Balance_Sheet.csv"

In [18]:
import textractcaller as tc
from textractor.parsers import response_parser
import boto3

QUERY_1 = "Choose from the three types to answer the question: balance sheet, income, cash flow. What type is the document?"
QUERY_2 = "What is the company name?"
QUERY_3 = "What is the month or date or year ended?"

def extract_document(filename):
    textract = boto3.client('textract', region_name=os.getenv('AWS_REGION'))
    q = tc.Query(text=QUERY_1, pages=["*"])
    q2 = tc.Query(text=QUERY_2, pages=["*"])
    q3 = tc.Query(text=QUERY_3, pages=["*"])
    
    result = tc.call_textract(
        input_document=f"{os.getenv('S3_BUCKET_URL')}{filename}",
        queries_config=tc.QueriesConfig(queries=[q,q2,q3]),
        adapters_config=None,
        features=[tc.Textract_Features.QUERIES, tc.Textract_Features.TABLES, tc.Textract_Features.LAYOUT],
        force_async_api=True,
        boto3_textract_client=textract
    )
    
    document = response_parser.parse(result)
    return document

In [19]:
def build_tables_dict(document):
    doc_tables = {}
    
    for page in document.pages:
        # what is the doc type and company name?
        company_name = str([q.result for q in page.queries if q.query == QUERY_2][0])
        if company_name not in doc_tables.keys():
            doc_tables[company_name] = {}
        doc_type = str([q.result for q in page.queries if q.query == QUERY_1][0])
        if doc_type not in doc_tables.keys():
            doc_tables[company_name][doc_type] = []
        # extract tables
        for table in page.tables:
            doc_tables[company_name][doc_type].append(table.to_pandas())

    return doc_tables

In [20]:
document = extract_document(fin_document)

In [21]:
import pandas as pd
from IPython.display import display

tables = build_tables_dict(document)
for company in tables:
        print("\n\n----------------------------------------")
        print(f"COMPANY NAME: {company}\n\n")
        for doctype in tables[company]:
            result = pd.concat(tables[company][doctype])
            result = result.reset_index(drop=True)
            print(f"DOCUMENT TYPE: {doctype}\n")
            display(result)

----------------------------------------
COMPANY NAME: Example Corporation


DOCUMENT TYPE: Balance Sheet

                                            0           1
0                             Current assets
1                  Cash and cash equivalents     $ 2,200
2                     Short-term investments      10,000
3                  Accounts receivable - net      39,500
4                          Other receivables       1,000
5                                  Inventory      31,000
6                                   Supplies       3,800
7                          Prepaid expensees       1,500
8                       Total current assets      89,000
9                                Investments      36,000
10               Property, plant & equipment
11                                      Land       5,500
12                         Land improvements       6,500
13                                 Buildings     180,000
14                                 Equipment     201,000
15            Less: accumulated depreciation    (56,000)
16            Property, plant & equip. - net     337,000
17                         Intangible assets
18                                  Goodwill     105,000
19                   Other intangible assets     200,000
20                   Total intangible assets     305,000
21                              Other assets       3,000
22                              Total assets   $ 770,000
23                       Current liabilities
24                  Short-term loans payable     $ 5,000
25         Current portion of long-term debt      15,000
26                          Accounts payable      20,900
27         Accrued compensation and benefits       8,500
28                      Income taxes payable       6,100
29                 Other accrued liabilities       4,000
30                         Deferred revenues       1,500
31                 Total current liabilities      61,000
32                     Long-term liabilities
33                             Notes payable      20,000
34                             Bonds payable     375,000
35                     Deferred income taxes      25,000
36               Total long-term liabilities     420,000
37                         Total liabilities     481,000
38                              Common stock     110,000
39                         Retained earnings     220,000
40          Accum other comprehensive income       9,000
41                      Less: Treasury stock    (50,000)
42                Total stockholders' equity     289,000
43  Total liabilities & stockholders' equity   $ 770,000

In [27]:
df = tables['Example Corporation']['Balance Sheet'][0]
display(df)

                                  0           1
0                   Current assets
1        Cash and cash equivalents     $ 2,200
2           Short-term investments      10,000
3        Accounts receivable - net      39,500
4                Other receivables       1,000
5                        Inventory      31,000
6                         Supplies       3,800
7                Prepaid expensees       1,500
8             Total current assets      89,000
9                      Investments      36,000
10     Property, plant & equipment
11                            Land       5,500
12               Land improvements       6,500
13                       Buildings     180,000
14                       Equipment     201,000
15  Less: accumulated depreciation    (56,000)
16  Property, plant & equip. - net     337,000
17               Intangible assets
18                        Goodwill     105,000
19         Other intangible assets     200,000
20         Total intangible assets     305,000
21                    Other assets       3,000
22                    Total assets   $ 770,000

In [31]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [33]:
df = df.set_index(df.columns[0])

In [38]:
display(df.index)

Index(['Current assets', 'Cash and cash equivalents', 'Short-term investments',
       'Accounts receivable - net', 'Other receivables', 'Inventory',
       'Supplies', 'Prepaid expensees', 'Total current assets', 'Investments',
       'Property, plant & equipment', 'Land', 'Land improvements', 'Buildings',
       'Equipment', 'Less: accumulated depreciation',
       'Property, plant & equip. - net', 'Intangible assets', 'Goodwill',
       'Other intangible assets', 'Total intangible assets', 'Other assets',
       'Total assets'],
      dtype='object', name=0)

In [39]:
import pandas as pd

def get_fieldnames(csv_file):
    df = pd.read_csv(csv_file, sep=',')
    return df.iloc[:, 0].values

In [56]:
sqlprompt = f"""
Instructions: Use only the field names provided in the <content> tags to perform your task.
<content>
{df.index}
</content>

<schema>
{get_fieldnames('test.txt')}
</schema>

Task: Write SQL queries that retrieve values for each field from the schema provided.
Each SQL query should have a condition WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'.
Then match one SQL query to the field from the content provided.
Provided the response as a tuple output as follows:
("content field", "schema field", "SQL Query")
Provide the output in between <output> tags.
"""

print(sqlprompt)

Instructions: Use only the field names provided in the <content> tags to perform your task.
<content>
Index(['Current assets', 'Cash and cash equivalents', 'Short-term investments',
       'Accounts receivable - net', 'Other receivables', 'Inventory',
       'Supplies', 'Prepaid expensees', 'Total current assets', 'Investments',
       'Property, plant & equipment', 'Land', 'Land improvements', 'Buildings',
       'Equipment', 'Less: accumulated depreciation',
       'Property, plant & equip. - net', 'Intangible assets', 'Goodwill',
       'Other intangible assets', 'Total intangible assets', 'Other assets',
       'Total assets'],
      dtype='object', name=0)
</content>

<schema>
['cash_and_equiv' 'short_term_invest' 'net_account_receiv' 'inventory'
 'supplies' 'total_current_assets']
</schema>

Task: Write SQL queries that retrieve values for each field from the schema provided.
Each SQL query should have a condition WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'.
Then match one SQL query to the field from the content provided.
Provided the response as a tuple output as follows:
("content field", "schema field", "SQL Query")
Provide the output in between <output> tags.

In [57]:
import boto3

client = boto3.client('bedrock-runtime', region_name='us-east-1')
response = client.converse(
    modelId='anthropic.claude-3-sonnet-20240229-v1:0',
    messages=[{'role': 'user', 'content': [{'text': sqlprompt}]}],
    inferenceConfig={'temperature': 1}
)

output = response['output']['message']['content'][0]['text']

print(output)

<output>
("Cash and cash equivalents", "cash_and_equiv", "SELECT cash_and_equiv FROM table WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'")
("Short-term investments", "short_term_invest", "SELECT short_term_invest FROM table WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'")
("Accounts receivable - net", "net_account_receiv", "SELECT net_account_receiv FROM table WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'")
("Inventory", "inventory", "SELECT inventory FROM table WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'")
("Supplies", "supplies", "SELECT supplies FROM table WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'")
("Total current assets", "total_current_assets", "SELECT total_current_assets FROM table WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'")
</output>

In [58]:
import re

def extract_output_text(input_text):
    # Use regular expression to find text between <output> and </output> tags
    pattern = r"<output>(.*?)<\/output>"
    match = re.search(pattern, input_text, re.DOTALL)
    
    if match:
        return match.group(1).strip()
    else:
        return None

def parse_tuples(input_string):
    input_string = input_string.replace('"', '')
    # Remove leading/trailing whitespace and split by newline
    lines = input_string.strip().split('\n')
    # Parse each line as a tuple
    result = [tuple(line.strip('(),').split(', ')) for line in lines]
    return result

In [59]:
text = extract_output_text(output)
sql_tuples_list = parse_tuples(text)
print(sql_tuples_list)

[('Cash and cash equivalents', 'cash_and_equiv', "SELECT cash_and_equiv FROM table WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'"), ('Short-term investments', 'short_term_invest', "SELECT short_term_invest FROM table WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'"), ('Accounts receivable - net', 'net_account_receiv', "SELECT net_account_receiv FROM table WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'"), ('Inventory', 'inventory', "SELECT inventory FROM table WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'"), ('Supplies', 'supplies', "SELECT supplies FROM table WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'"), ('Total current assets', 'total_current_assets', "SELECT total_current_assets FROM table WHERE company_name = 'sample company' AND financial_quarter = 'first_quarter'")]

In [60]:
def database_retrieval(tuples_list, extracted_data):
    database = pd.read_csv("test.txt", sep=',', index_col=0)
    for item in tuples_list:
        extracted_vals = extracted_data.loc[item[0]].values
        db_vals = database.loc[item[1]].values
        for i in range(len(db_vals)):
            print(f"Database value: {db_vals[i]}, Extracted value: {extracted_vals[i]}")
        print("----------------")

In [61]:
database_retrieval(sql_tuples_list, df)

Database value: $ 2,200 , Extracted value: $ 2,200
----------------
Database value: 10,000 , Extracted value: 10,000
----------------
Database value: 39,500 , Extracted value: 39,500
----------------
Database value: 31,000 , Extracted value: 31,000
----------------
Database value: 3,800 , Extracted value: 3,800
----------------
Database value: 89,000 , Extracted value: 89,000
----------------